{% extends "layout/default.html" %}

{% block title %}Fastapi Default{% endblock %}

{% block head %}
  <script>
    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }

    document.addEventListener('DOMContentLoaded', () => {
      const token = getCookie('token');
      const tokenDisplay = document.createElement('div');
      tokenDisplay.innerHTML = token
        ? `<p>Your Token: <code>${token}</code></p>`
        : '<p>No token found in cookies</p>';
      document.body.appendChild(tokenDisplay);
    });
  </script>
{% endblock %}

{% block body %}
<h1>Hello FastApi</h1>
<div><img src="/logo.png" alt=""/></div>

{% if is_login %}
<a href="/user/logout.html">로그아웃</a> | <a href="/user/info.html">회원정보</a>
{% else %}
<a href="/user/login.html">로그인</a> | <a href="/user/join.html">회원가입</a>
{% endif %}

<script src="/static/js/common.js"></script>
{% endblock %}