{% extends "layout/default.j2" %}

{% block title %}Fastapi Default{% endblock %}
{% block content %}
    <h1>Hello FastApi</h1>
    <div><img src="/static/images/logo.png" alt=""/></div>
    {% if is_login %}
        <a href="/user/logout">로그아웃({{ username }})</a> | <a href="/user/info">회원정보</a>
    {% else %}
        <a href="/user/login">로그인</a> | <a href="/user/join">회원가입</a>
    {% endif %}
{% endblock %}