{% extends "layout/default.j2" %}

{% block title %}시스템 초기화 쿼리문{% endblock %}

{% block content %}
    <textarea style="width:100%; height:90vh; box-sizing:border-box;">
{{ sql }}
</textarea>
{% endblock %}