<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}No Title{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
{% block content %}
    Default Layout
{% endblock %}
<script src="/static/js/common.js"></script>
{% block foot %}
{% endblock %}
</body>
</html>